.imgss{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.gr{
    margin-left: 20%;
}

@media only screen and (max-width: 800px) and (min-width: 600px)  {
    .gr{
        
  display: inline-block;
  width: 100%;
  height: 50vw;
  
    }
}

@media only screen and (max-width: 600px) {
    .imgss{
        width: 80%;
        height: 55vw;
        padding: 10%;
        
    }
    .gr{
        align-items: center;
        justify-content: center;
        margin: auto;
        text-align: center;
    }

    
  }
