.footer {
  width: 100%;
  padding: 10px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-image: linear-gradient(to bottom right, #121212, #3d4a5d);
  
}

.by{color:#ffd900;text-decoration:none;}
.by:hover {text-decoration:underline;}

@media only screen and (max-width: 600px) {
  
}